{% extends 'blog/base.html' %}
{% load blog_extras %}

{% block content %}
	{% for post in posts %}
	    <div class="post">
	        <div class="date">
	            {{ post.published_date }}
	        </div>
	        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	        <p>{{ post.excerpt|markdownify|safe }}</p>
	    </div>
	{% endfor %}

		<span>
			<ul class = "pager">
			{% if posts.has_previous %}
			   <li class = "previous"><a href="{{ posts.previous_page_number }}">&larr; Prev</a></li>
			{% endif %}
			{% if posts.has_next %}
			   <li class = "next"><a href="{{ posts.next_page_number }}">Next &rarr;</a></li>
			{% endif %}
			</ul>
		</span>
{% endblock %}