{% extends 'blog/base.html' %}
{% load blog_extras %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|markdownify|safe }}</p>
		<p>{{ post.category }} : {{ post.getTagNames }}</p>
		{% if images %}
			{% for image in images %}
				<img src="{{ image.image.url }}" class="img-fluid"/>
				<p>{{ image.description }}</p>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
