

.page-header {
    /*background-color: #ff9400;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.content {
    padding-left: 70px;
}

.navbar {
    min-height: 0px;
}

.navbar-header {
    text-decoration: none;
    margin: 0px 10px
}

.navbar-header a:hover {
    text-decoration: none;
    font-size: 18px;
}

.nav>li>a {
    padding: 18px 20px;
    font-size: 14px;
}

#sidebar {
    margin-top: 60px;
    padding-left: 40px;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
}

#sidebar .sub-menu {
    padding-left: 20px;
}

.about {
    padding: 10px;
}

.about>p {
    font-size: small;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


.container {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Lobster';
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin: 11px 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    /*color: #000000;*/
}

img {
    max-width: 100%;
    height: auto;
}

.post > .center-thumbnail {
    display: inline-block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}


.gallery > .thumbnail {
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    #sidebar {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        float: right;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.66666667%;
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%
    }
}